{
  "presets": ["babel-preset-exponent"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "sourceMaps": true // https://marketplace.visualstudio.com/items?itemName=vsmobile.vscode-react-native
}
